<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    
    <div id="root">
        <div class="wrap">
            <ul v-if="list.length > 0">
                <li v-for="(item, index) in list"> {{item}} <span v-on:click="cancel(index)">X</span> </li>
            </ul>
            <div>
                <input v-model="toDo" v-on:keyup.enter="addToDo" type="text">
                <button type="button" v-on:click="addToDo">aggiungi</button>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="script.js"></script>
</body>
</html>