<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700&family=Source+Sans+Pro:wght@400;600;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    
    <div id="root">
        <div class="wrap">
            <h1>VueToDo</h1>
            <!-- <ul v-if="list.length > 0">
                <li v-for="(item, index) in list"><span>{{item}}</span><span v-on:click="cancel(index)" class="close"><i class="fas fa-backspace"></i></span> </li>
            </ul> -->
            <transition-group name="addRemove" tag="ul" v-if="list.length > 0">
                <li v-for="(item, index) in list" v-bind:key="item"><span>{{item}}</span><span v-on:click="cancel(index)" class="close"><i class="fas fa-backspace"></i></span> </li>
            </transition-group>
            <div class="new_item">
                <input v-model="toDo" v-on:keyup.enter="addToDo" type="text">
                <button type="button" v-on:click="addToDo">aggiungi</button>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="script.js"></script>
</body>
</html>